<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 提供方应用名称，用于计算依赖关系 -->
    <!--<dubbo:application name="spring-dubbo-provider"/>

    &lt;!&ndash; 使用multicast注册中心暴露服务地址   默认为2181端口 &ndash;&gt;
    <dubbo:registry address="zookeeper://192.168.7.108:2181"/>

    &lt;!&ndash; 使用dubbo协议，在20880端口暴露服务 &ndash;&gt;
    <dubbo:protocol name="dubbo" port="20880"/>-->

    <bean id="empService" class="com.willow.service.impl.EmpServiceImpl"/>
    <dubbo:service interface="com.willow.service.EmpService" ref="empService"/>

    <bean id="employeeService" class="com.willow.service.impl.EmployeeServiceImpl"/>
    <dubbo:service interface="com.willow.service.EmployeeService" ref="employeeService"/>
</beans>